<!-- 添加街区弹层 -->
    <div class="findbox intereststreet fn-clear">
	<!-- 	<div class="box-title" style="text-align:left;">
			<h2 style="">我关注的街区</h2>
		</div> -->
		<div class="box-content-fluid">
			
		</div>
	</div>
	<div class="findbox hotstreet fn-clear">
		<div class="box-title" style="text-align:left;">
			<h2>精选街区</h2>
		</div>
		<div class="box-content-fluid">
			
		</div>
	</div>

	<div class="findbox classifystreet fn-clear">
		<div class="box-title" style="text-align:left;">
			<h2>分类街区</h2>
		</div>
		<div class="box-content-fluid">
			
		</div>
	</div>