<div class="hotitem-container" style="">
	<div class="row">
		<div class="col-lg-4 col-md-12">
			<div class="usrpic-mg">
				<img class="img-responsive" src="<%= streetphoto %>" alt="<%= streetname %>">
			</div>
		</div>
		<div class="col-lg-8 col-md-12">
			<ul>
			    <li>儿童乐园</li>
				<li class="item-usrname">
				   <span>街区类别:<a style="color:#333;"><%= streettype1 %></a>,<a style="color:#333;"><%= streettype2 %></a></span>
				</li>
				<li><span>粉丝:<%= fans %></span><span>帖子:<%= invitation %></span></li>
				<li><a href="javascript:void(0)" class="btn-add addfocus">加关注<i class="iconfont">&#xe60d;</i></a></li>
	      </ul>
		</div>
	</div>
</div>