<!-- 童年街区 -->
	  <div class="box-title-b fn-clear">
		<div class="box-content row">
		    <div class="category-info col-lg-12 col-sm-9 col-xs-12">
				<ul>
					<li class="category-selected category-mystreet">
						<a href="javascript:void(0)" class="">我的街区</a>
					</li>
					<li class="category-invitation">
						<a href="javascript:void(0)" class="">我的帖子</a>
					</li>
					<li class="category-remind">
						<a href="javascript:void(0)" class="">提醒</a>
					</li>
					<li class="createstreet" style="display:none;width:15%;"><a href="javascript:void(0)" class="btn-r-r-md createStreet">创建街区</a></li>
				</ul>
			</div>
		</div>
	  </div>
   