<!-- 班级成员内容 -->
<div class="container-box streetmgbox fn-clear">
	<div class="box-title-b padding-t">
		<h3 class="fn-left">本吧成员</h3>
	</div>
	<div class="box-content-fluid-b fn-clear">
	    <ul class="cetegory-text fn-left">
			<li>总人数：<span><%= count%></span></li>
			<li>管理员：<span>5</span></li>
		</ul>
		<ul class="cetegory-text fn-left operatemenu" style="display:none">
			<li class="setmanager"><a>设为管理员</a></li>
			<li style="border:none" class="assignqun"><a>转让群</a></li>
		</ul>
		<ul class="cetegory-text fn-right">
			<li><a href="javascript:void(0)" class="btn-r-r-xs management">高级管理</a></li>
			<li><a href="javascript:void(0)" class="btn-r-r-xs cancel" style="display:none">取消</a></li>
		</ul>
	</div>
	<div class="box-footer fn-clear category-table">
		<table class="table">
		  <thead>
		     <tr>
		        <th style="width:17.5%;">成员</th>
		        <th style="width:17.5%;">童年号</th>
		        <th style="width:10%;">性别</th>
		        <th style="width:12.5%;">最后发言</th>
		        <th style="width:25%;">操作</th>
		     </tr>
		  </thead>
		  <tbody class="tbody">

		  </tbody>
		</table>
	</div>
</div>
