<!-- 童年街区 -->
<div class="category fn-clear">
	<div class="container-box friendmgbox tnstreetmgbox  fn-clear">
		<div class="box-content-fluid">
		    <h2>童年街区</h2>
			<div class="searchpanel">
				<input type="text"/>
				<a href="javascript:void(0)" class="btn btn-search"><i class="iconfont">&#xe607;</i></a>
			</div>
			<div class="tnstreetbtn">
				<a href="javascript:void(0)" class="btn-r-r-md enterStreet">进入街区</a>
				<a href="javascript:void(0)" class="btn-r-r-md createStreet">创建街区</a>
			</div>
		</div>
	</div>
</div>
<div class="categoryShow">
	<div class="container-box findbox hotstreet fn-clear">
		<div class="box-title" style="text-align:left;">
			<h2 style="margin-left:50px;">热门街区</h2>
		</div>
		<div class="box-content-fluid">
			
		</div>
	</div>
	<div class="container-box findbox intereststreet fn-clear">
		<div class="box-title" style="text-align:left;">
			<h2 style="margin-left:50px;">你可能感兴趣的街区</h2>
		</div>
		<div class="box-content-fluid">
			
		</div>
	</div>
	<div class="container-box findbox classifystreet fn-clear">
		<div class="box-title" style="text-align:left;">
			<h2 style="margin-left:50px;">街区分类</h2>
		</div>
		<div class="box-content-fluid">
			
		</div>
	</div>
</div>