<!-- 博客内容主体，不含评论，解决博客渲染反复刷新评论问题 -->
<div class="blog-artical">
	<%= blogcontent %>
</div>
<div class="blog-operation-menu">
	<ul>
		<li><a href="javascript:void(0)" class="btn-comment"><i class="iconfont">&#xe63e;</i>评论(<%= blogtotalcomment %>)</a></li>
		<li><a href="javascript:void(0)" class="btn-forward"><i class="iconfont">&#xe63f;</i>转发(<%= blogtotaltransmit %>)</a></li>
		<li><a href="javascript:void(0)" class="btn-praise <%if(assisted==1){%>btn-de<%}else{%>btn-nor<%}%>"><i class="iconfont">&#xe63d;</i>赞(<%= blogtotalassist %>)</a></li>
		<li><a href="javascript:void(0)" class="btn-fav <%if(favorited==1){%>btn-de<%}else{%>btn-nor<%}%>"><i class="iconfont">&#xe640;</i>收藏(<%= blogtotalfavorite %>)</a></li>
		<li><a href="javascript:void(0)" class="read"><i class="iconfont">&#xe641;</i>阅读(<%= blogtotalvisit %>)</a></li>
	</ul>
</div>
<div class="blog-operation">
	<div class="blog-operation-praise fn-clear">
		<a href="javascript:void(0)" class="btn-praise <%if(assisted==1){%>btn-de<%}else{%>btn-nor<%}%>"><i class="iconfont">&#xe63d;</i>赞(<%= blogtotalassist %>)</a>
		<ul>
		</ul>
	</div>
</div>