<!-- 博客页面 -->
<div class="blog-container-layer">
	<div class="blog-container container">
		<div class="blog-header">
			
		</div>
		<div class="blog-main">
			<div class="blog-content">
				
			</div>
			<div class="blog-footer">
				<div class="blog-post fn-clear">
					<div contenteditable="true" spellcheck="false" id="comsend"></div>
					<div class="fn-clear">
						<a href="javascript:void(0)" class="btn-exp">
							<i class="iconfont">&#xe646;</i>
							<span id="commark"></span>
						</a>
						<a href="javascript:void(0)" class="fn-right btn btn-r-r-md comsendbtn">发表</a>
					</div>
				</div>
				<div class="blog-comment">
					<ul>
					</ul>
					<div class="btn-page fn-clear">
						<a class="btn btn-more" href="javascript:void(0)">查看更多评论</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
