<img class="usrpic-xs pagehref" src="<%=photo%>" alt="<%=nickname%>"  data-id="<%=createdby%>">
<dl>
	<dt>
		<a href="javascript:void(0)" class="pagehref" data-id="<%=createdby%>"><%=nickname%></a>
		<span><%=createtime%></span>
		<a class="fn-right btn-reply btn-reply-main" href="javascript:void(0)" data-uid="<%=createdby%>" data-mid="<%=id%>" data-cid="0" data-mid="<%=id%>" data-unick="<%=nickname%>">回复</a>
		<%if(global.usrinfo.id==createdby){%>
			<a class="fn-right btn-delete btn-main-delete" href="javascript:void(0)">删除</a>
		<%}%>
	</dt>
	<dd><%=commentcontent%></dd>
</dl>
<ul>
</ul>