<div role="tabpanel" class="expression">
	<!-- Nav tabs -->
	<ul class="expression-tab fn-clear" role="tablist">
		<li role="presentation" class="active"><a href="#people" aria-controls="people" role="tab" data-toggle="tab" data-index="0">常用</a></li>
		<li role="presentation"><a href="#nature" aria-controls="nature" role="tab" data-toggle="tab" data-index="1">自然</a></li>
		<li role="presentation"><a href="#objects" aria-controls="objects" role="tab" data-toggle="tab" data-index="2">事物</a></li>
		<li role="presentation"><a href="#places" aria-controls="places" role="tab" data-toggle="tab" data-index="3">地方</a></li>
		<li role="presentation"><a href="#symboles" aria-controls="symboles" role="tab" data-toggle="tab" data-index="4">符号</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="people"></div>
		<div role="tabpanel" class="tab-pane" id="nature"></div>
		<div role="tabpanel" class="tab-pane" id="objects"></div>
		<div role="tabpanel" class="tab-pane" id="places"></div>
		<div role="tabpanel" class="tab-pane" id="symboles"></div>
	</div>
</div>