<div contenteditable="true" spellcheck="false" id="forwardsend"></div>
<div class="ctlpanel fn-clear">
	<a href="javascript:void(0)" class="fn-left btn-exp">
		<i class="iconfont"></i>
		<span id="forwardmark"></span>
	</a>
	<!-- <a href="javascript:void(0)" class="fn-left comment">
		<div class="inputDiv default">
			<input type="checkbox" class="nowcheck">
			<p class="checkBox"></p>
		</div>
		<label for="">同时评论这篇博客</label>
	</a> -->
	<a href="javascript:void(0)" class="fn-right btn btn-r-r-md msgsendbtn">转发</a>
</div>
