<div class="detailcard quneditcard fn-clear">
	<div class="fn-clear">
		<ul>
			<li>
				<div class="usrpic-mg"><img src="<%= groupphoto %>" alt="<%= groupname %>"></div>
			</li>
			<li>
				<ul>
					<li class="item-usrname">
						<%= groupname %>
					</li>
					<li class="item-text">童年号：<%= groupno %></li>
				</ul>
			</li>
		</ul>
	</div>
	<div>
		<ul class="quncreatelist">
			<li><label for="">群名称：</label><input type="text" id="qunname" placeholder="<%=groupname%>"></li>
			<li>
				<label for="">群类型：</label>
				<div class="group quntype">
					<div class="inputDiv default">
				        <input type="radio" class="nowradio" value="1">
				        <p class="radio"></p>
				        <label for="">学生群</label>
				    </div>
				    <div class="inputDiv default">
				        <input type="radio" class="nowradio" value="2">
				        <p class="radio"></p>
				        <label for="">家长群</label>
				    </div>
				    <div class="inputDiv default">
				        <input type="radio" class="nowradio" value="3">
				        <p class="radio"></p>
				        <label for="">教师群</label>
				    </div>
				</div>
			</li>
			<li>
				<label for="">群类别：</label>
				<div class="selecter">
					<div class="selecter-container">
						<div class="selecter-trigger">
						<input type="text" data-id="0" value="请选择" disabled="true ">
						<i class="iconfont">&#xe61f;</i>
						</div>
						<ul class="selecter-options">
							
						</ul>
					</div>
				</div>
			</li>
			<li>
				<label for="" style="vertical-align:top">群介绍：</label>
				<textarea name="" id="qunintro"></textarea>
			</li>
		</ul>
	</div>
</div>