<!-- 批量注册 -->
<div class="container-box fn-clear">
	<div class="box-title"><h2><%= classname %></h2>
		<a href="javascript:void(0)" class="btn-close fn-right"><i class="iconfont">&#xe628;</i></a>
	</div>
	<div class="box-content">
		<div class="usrinfo-1">
			<div class="usrpic-mg">
				<img src="<%= lPhoto %>" alt="<%= classname %>">
			</div>
			<div class="classinfo">
				<h3>班级信息</h3>
				<div class="school-information">
					<span>学校：<%= schname %></span>
					<span>班级名称：<%= classname %></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-box fn-clear">
	<div class="box-content">
		<div><h3 class="blog-title">欢迎您为学生批量注册童年号，请填写一下信息：</h3></div>
		<div class="blog-text">班级人数：<input type="text"> 人
			<a href="javascript:void(0)" class="btn-r-r-xs confirmbtn">确定批量注册</a>
		</div>
	</div>
</div>

<div class="container-box success-remind fn-clear">
	<div class="box-content">
		<div><h3 class="blog-title">恭喜您为您学生批量注册童年号成功，请下载EXCEL表格，提醒学生登录童年号！</h3></div>
		<div class="blog-text">
			<span>excel.xls</span>
			<a href="javascript:void(0)" class="btn-r-r-xs">下载</a>
		</div>
	</div>
</div>