 <!-- 小喇叭 -->
<div class="container-box box-height">
	<div class="box-title-b fn-clear">
		<div class="row box-content">
			<div class="category-info col-lg-7 col-sm-9 col-xs-12">
				<ul>
					<li class="category-selected category-notice">
						<a href="javascript:void(0)" class="">公告</a>
					</li>
					<li class="category-work">
						<a href="javascript:void(0)" class="">作业</a>
					</li>
					<li class="category-syllabus">
						<a href="javascript:void(0)" class="">课程表</a>
					</li>
					<li class="category-dutytable">
						<a href="javascript:void(0)" class="">值日表</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-5 col-sm-3 col-xs-12">
				<div class="class-release btn btn-r-r-lg">
					<ul>
						<li><a href="javascript:void(0)" class="release"><i class="iconfont">&#xe62b;</i>发布</a></li>
						 <ul class="release-info"> 
							<li><a href="javascript:void(0)" class="release-notice">公告</a></li>
							<li><a href="javascript:void(0)" class="release-work">作业</a></li>
							<li><a href="javascript:void(0)" class="release-syllabus">课程表</a></li>
							<li><a href="javascript:void(0)" class="release-dutytable">值日表</a></li>
						</ul> 
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 作业搜索 -->
	<div class="box-footer box-footer-center"  style="display:none;">
		<!-- 下拉框 -->
		<div class="selecter-box">
			<span>科目：</span>
			<div class="selecter">
				<div class="selecter-container">
					<div class="selecter-trigger">
					<input type="text" data-id="0" value="请选择" disabled="true ">
					<i class="iconfont">&#xe61f;</i>
					</div>
					<ul class="selecter-options">
						<li><a href="javascript:void(0)" value="1">语文</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="release-time">
			<div class="selecter-box">
				<span>发布时间：</span>
				<div class="selecter">
					<div class="selecter-container">
						<div class="selecter-trigger">
						<input type="text" data-id="0" value="请选择" disabled="true ">
						<i class="iconfont">&#xe61f;</i>
						</div>
						<ul class="selecter-options">
							<li><a href="javascript:void(0)" value="1">最近一天</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<a href="javascript:void(0)" class="btn btn-search"><i class="iconfont">&#xe607;</i></a>
		</div>
		<!-- <div class="release-time">
			<div>发布时间:<input type="text">到<input type="text"></div>
			<a href="javascript:void(0)" class="btn btn-search"><i class="iconfont">&#xe607;</i></a>
		</div> -->
	</div>
</div>