<!-- 班级信息 -->
<div class="class-item b-bottom">
	<div class="usrpic-md">
		<img src="<%= sPhoto %>" alt="Superwen">
	</div>
	<ul>
		<li class="item-usrname"><%= schName %></li>
		<li class="main-title-1"><%= className %></li>
	</ul>
	<a href="javascript:void(0)" class="btn btn-r-b-md talktime switch-class">切换班级</a>
</div>
<div class="showmyclass">
	<div class="class-all">
		<div class="class-item">
			<div class="usrpic-md">
				<img src="<%= sPhoto %>" alt="Superwen">
			</div>
			<ul style="margin-left:80px; padding:12px 0;">
				<li class="main-title-1">2014级3班</li>
				<li class="item-usrname">30人</li>
			</ul>
		</div>
	</div>

	<div class="class-all">
		<div class="class-item">
			<div class="usrpic-md">
				<img src="<%= sPhoto %>" alt="Superwen">
			</div>
			<ul style="margin-left:80px; padding:12px 0;">
				<li class="main-title-1">2014级3班</li>
				<li class="item-usrname">30人</li>
			</ul>
		</div>
	</div>
	<div class="joinclass classrole">
		<a href="javascript:void(0)" >+加入班级</a>
	</div>
	<div class="createclass classrole">
		<a href="javascript:void(0)" >+创建班级</a>
	</div>
</div>