<!-- 创建班级弹层 -->
<div class="fn-clear establishlist">
	<div class="friendremark spacing-updown">
		<label>您的真实姓名：</label>
		<input type="text" id="realname">
	</div>
	<div class="friendremark spacing-updown">
		<label>手机号：</label>
		<input type="text" id="phonenumber">
	</div>
	<div class="friendremark spacing-updown">
		<label>学校座机号：</label>
		<input type="text" id="telephone">
	</div>
	
	<div class="friendremark spacing-updown">
		<label>教师资格证：</label>
		<textarea name="" id=""></textarea>
	</div>
</div>
