<!-- 创建班级弹层 -->
	<div class="friendremark spacing-updown">
		<label>所在学校：</label>
			<div class="selecter">
				<div class="selecter-container-max">
					<div class="selecter-trigger selecter-trigger-school">
					<input type="text" data-id="0" value="请选择" disabled="true ">
					<i class="iconfont">&#xe61f;</i>
					</div>
					<ul class="selecter-options selecter-options-school">
						
					</ul>
				</div>
			</div>
			<!-- <div class="fn-right"><a href="javascript:void(0)" class="btn-r-b-md groupmgbtn">添加学校</a></div> -->
	</div>
	
	<div class="friendremark spacing-updown">
		<label>所在班级：</label>
			<div class="selecter">
				<div class="selecter-container">
					<div class="selecter-trigger selecter-trigger-grade">
					<input type="text" data-id="0" value="请选择" disabled="true ">
					<i class="iconfont">&#xe61f;</i>
					</div>
					<ul class="selecter-options selecter-options-grade">

					</ul>
				</div>
			</div>

			<div class="selecter margin-l">
				<div class="selecter-container">
					<div class="selecter-trigger selecter-trigger-class">
					<input type="text" data-id="0" value="请选择" disabled="true ">
					<i class="iconfont">&#xe61f;</i>
					</div>
					<ul class="selecter-options selecter-options-class">
					
					</ul>
				</div>
			</div>
	</div>
	
	<p class="prompt-text invite">该班级已经存在，请重新选择或直接加入</p>
