<!-- 班级成员内容 -->
<div class="container-box friendmgbox fn-clear">
	<div class="box-title-b padding-t">
		<h3 class="fn-left">班级成员</h3>
		<a href="javascript:void(0)" class="btn btn-r-r-lg fn-right batchbtn">批量注册童年号</a>
	</div>
	<div class="box-content-fluid-b fn-clear">
		<ul class="category-title">
			<li class="selected-role all" data-t="all">全部</li>
			<li class="student" data-t="student">学生</li>
			<li class="teacher" data-t="teacher">教师</li>
			<li class="parent" data-t="parent">家长</li>
		</ul>
		<ul class="cetegory-text fn-right">
			<li>总人数：<span><%= count%></span></li>
			<li>管理员：<span>5</span></li>
			<li><a href="javascript:void(0)" class="btn-r-r-xs">邀请</a><a href="javascript:void(0)" class="btn-r-r-xs">高级管理</a></li>
		</ul>
	</div>
	<div class="box-footer fn-clear category-table">
		<table class="table">
		  <thead>
		     <tr>
		        <th style="width:17.5%;">成员</th>
		        <th style="width:17.5%;">群名片</th>
		        <th style="width:17.5%;">童年号</th>
		        <th style="width:10%;">角色</th>
		        <th style="width:12.5%;">最后发言</th>
		        <th style="width:25%;">操作</th>
		     </tr>
		  </thead>
		  <tbody class="tbody">

		  </tbody>
		</table>
	</div>
</div>
