<!-- 本校公众号 -->
<div class="container-box friendmgbox fn-clear" id="reportshow">
	<div class="box-content">
		<div class="class-item class-item-lg b-bottom1">
			<div class="usrpic-mg">
				<img src="<%= lPhoto %>" alt="<%= nickName %>">
			</div>
			<ul class="fn-left">
				<li class="main-title-1"><%= nickName %></li>
				<li class="item-usrname">公众号：<%= number %></li>
			</ul>
			<div class="fn-left item-radius item-back1">
				<div class="census">
					<span>博客</span>
					<span><%= pageView1 %></span>
				</div>
			</div>
			<div class="fn-left item-radius item-back2">
				<div class="census">
					<span>粉丝</span>
					<span><%= pageView2 %></span>
				</div>
			</div>
			<div class="fn-right item-padding btn-report">
				<a href="javascript:void(0)" class="btn btn-r-r-xs">取消关注</a>
				<a href="javascript:void(0)" class="btn btn-r-b-xs">举报</a>
			</div>
		</div>
		<div class="class-item">
			<p class="text-padding text-content"><%= content %></p>
		</div>
	</div>
</div>