<!-- 发布云课堂 -->
<div class="container-box fn-clear">
	<div class="box-title-independent"><h2>课程发布</h2>
		<a href="javascript:void(0)" class="btn-close fn-right"><i class="iconfont">&#xe628;</i></a>
	</div>
</div>
<div class="container-box fn-clear">
	<div class="box-content">
		<div class="box-input"><input type="text" id="blog-title" placeholder="请填写标题，不超过12字最佳"></div>
		<!-- 下拉框 -->
		<div class="friendremark spacing-updown">
			<span>科目：</span>
			<div class="selecter">
				<div class="selecter-container-max">
					<div class="selecter-trigger">
					<input type="text" data-id="0" value="请选择" disabled="true ">
					<i class="iconfont">&#xe61f;</i>
					</div>
					<ul class="selecter-options">
						
					</ul>
				</div>
			</div>
		</div>
		<div class="spacing-updown">
			<span>附件上传：</span>
			<a href="javascript:void(0)" class="btn btn-r-b-md">选择文件</a>
			<a href="javascript:void(0)" class="btn btn-r-r-md">上传</a>
		</div>
		<textarea name="textedit" id="textedit" placeholder="文本编辑器"></textarea>
		<div class="fn-clear">
			<div class="fn-right">
				<div class="inputDiv default">
					<input type="checkbox" class="nowcheck"/>
					<p class="checkBox"></p>
				</div>
				<span class="spacing-about">同时转发到公共教育云</span>
				<div class="spacing-updown align-r">
					<a href="javascript:void(0)" class="btn btn-r-r-lg btn-release">发布</a>
					<a href="javascript:void(0)" class="btn btn-r-b-lg">取消</a>
				</div>
			</div>	
		</div>
	</div>
</div>