<!-- 发布博客 -->
<div class="container-box fn-clear">
	<div class="box-title-independent"><h2>发布班级博客</h2>
		<a href="javascript:void(0)" class="btn-close fn-right blog-close"><i class="iconfont">&#xe628;</i></a>
	</div>
	
</div>
<div class="container-box fn-clear">
	<div class="box-content">
		<div class="box-input"><input type="text" id="blog-title" placeholder="请填写博客标题，不超过12字最佳"></div>
		<textarea name="textedit" id="textedit" placeholder="文本编辑器"></textarea>
		<div class="fn-clear">
			<a href="javascript:void(0)" class="btn btn-r-b-xs">保存</a>
			<span>已于16:30自动保存草稿</span>
			<div class="fn-right">
				<div class="inputDiv default">
					<input type="checkbox" class="nowcheck"/>
					<p class="checkBox"></p>
				</div>
				<span>同时转发到朋友圈</span>
			</div>
			<div>
				<a href="javascript:void(0)" class="btn btn-r-r-lg fn-right btn-release">发布</a>
			</div>
		</div>
	</div>
</div>