<div role="tabpanel">

  <!-- Nav tabs -->
	<div class='list-top'>
		<ul class="tab-md fn-clear" role="tablist">
			<li role="presentation" class="active"><a href="#btn-contacts" aria-controls="btn-contacts" role="tab" data-toggle="tab"><i class="iconfont">&#xe633;</i>联系人</a></li>
			<li role="presentation"><a href="#btn-groups" aria-controls="btn-groups" role="tab" data-toggle="tab"><i class="iconfont">&#xe634;</i>群组</a></li>
			<li role="presentation"><a href="#btn-public" aria-controls="btn-public" role="tab" data-toggle="tab"><i class="iconfont">&#xe620;</i>公众号</a></li>
		</ul>
	</div>

  <!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="btn-contacts">
			<div class="friendmg"><a class="friendmgbtn" href="javascript:void(0)">管理好友</a></div>
			<div class='list-container'></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="btn-groups">
			<div class="friendmg"><a class="qunmgbtn" href="javascript:void(0)">创建群</a></div>
			<div class='list-container'></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="btn-public">
			<div class='list-container'></div>
		</div>
	</div>

</div>