<div class="qunitem-container" style="background:">
	<div class="row">
		<div class="col-lg-4 col-md-12">
			<div class="usrpic-mg">
				<img class="img-responsive" src="<%= photo %>" alt="<%= nickname %>">
			</div>
		</div>
		<div class="col-lg-3 col-md-12">
			<ul>
		<li class="item-usrname">
			<%if( remarkname !== null){%>
			<%= remarkname %>
			<%} else {%>
			<%= nickname %>
			<%}%>
		</li>
		<li class="item-text"><%= schoolid %></li>
		<li>111</li>
	</ul>
		</div>
		<div class="col-lg-5 col-md-12"><a href="javascript:void(0)" class="btn-add">添加好友<i class="iconfont">&#xe60d;</i></a></div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p class="intro">
				据美国《战略之页》网站2015年1月13日刊文称，1130型多管近防炮被证实是先前“1030”近防炮的最新改进版。1130炮装有11个炮管(比1030型多一个炮管)，2个弹舱。一次能够锁定40多个目标。
			</p>
		</div>
	</div>
	
</div>