<div class="container-box friendmgbox fn-clear">
	<div class="box-title"><h2>好友分组管理</h2>
		<a href="javascript:void(0)" class="btn-close fn-right"><i class="iconfont">&#xe628;</i></a>
	</div>
	<div class="box-content-fluid">
		
				<ul class="tab-lg fn-clear">
				</ul>
				<a href="javascript:void(0)" class="btn btn-r-r-md groupmgbtn">分组管理</a>

	</div>
	<div class="box-footer">
		<div class="searchpanel">
					<input type="text">
					<a href="javascript:void(0)" class="btn btn-search"><i class="iconfont">&#xe607;</i></a>
				</div>
	</div>
</div>
<div class="container-box frienditembox fn-clear">
	
</div>