<div class="box-content-fluid">
	
	<div class="friendgroups fn-clear">
		<span>移动至</span>
		<div class="selecter">
			<div class="selecter-container">
				<div class="selecter-trigger">
					<input type="text" data-id="0" value="请选择" disabled="true ">
					<i class="iconfont">&#xe61f;</i>
				</div>
			<ul class="selecter-options"></ul>
		</div>
	</div>
</div>
<div class='list-container'>
	<ul class="fn-clear"></ul>
</div>
</div>
<div class="box-footer">
<a href="javascript:void(0)" class="btn-r-d-lg groupmgsavebtn">保存</a>
</div>