<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongnian.tnh.dao.BlogUserCommentMapper" >
  <resultMap id="BaseResultMap" type="com.tongnian.tnh.pojo.BlogUserComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="blogId" property="blogid" jdbcType="INTEGER" />
    <result column="commentId" property="commentid" jdbcType="INTEGER" />
    <result column="receiverId" property="receiverid" jdbcType="INTEGER" />
    <result column="senderId" property="senderid" jdbcType="INTEGER" />
    <result column="commentContent" property="commentcontent" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="reserved" property="reserved" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, blogId, commentId, receiverId, senderId, commentContent, flag, createTime, reserved
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongnian.tnh.pojo.BlogUserCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tn_blogusercomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tn_blogusercomment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tn_blogusercomment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongnian.tnh.pojo.BlogUserCommentExample" >
    delete from tn_blogusercomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongnian.tnh.pojo.BlogUserComment" >
    insert into tn_blogusercomment (id, blogId, commentId, 
      receiverId, senderId, commentContent, 
      flag, createTime, reserved
      )
    values (#{id,jdbcType=INTEGER}, #{blogid,jdbcType=INTEGER}, #{commentid,jdbcType=INTEGER}, 
      #{receiverid,jdbcType=INTEGER}, #{senderid,jdbcType=INTEGER}, #{commentcontent,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{reserved,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tongnian.tnh.pojo.BlogUserComment" >
    insert into tn_blogusercomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blogid != null" >
        blogId,
      </if>
      <if test="commentid != null" >
        commentId,
      </if>
      <if test="receiverid != null" >
        receiverId,
      </if>
      <if test="senderid != null" >
        senderId,
      </if>
      <if test="commentcontent != null" >
        commentContent,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="reserved != null" >
        reserved,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="blogid != null" >
        #{blogid,jdbcType=INTEGER},
      </if>
      <if test="commentid != null" >
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="receiverid != null" >
        #{receiverid,jdbcType=INTEGER},
      </if>
      <if test="senderid != null" >
        #{senderid,jdbcType=INTEGER},
      </if>
      <if test="commentcontent != null" >
        #{commentcontent,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserved != null" >
        #{reserved,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongnian.tnh.pojo.BlogUserCommentExample" resultType="java.lang.Integer" >
    select count(*) from tn_blogusercomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tn_blogusercomment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.blogid != null" >
        blogId = #{record.blogid,jdbcType=INTEGER},
      </if>
      <if test="record.commentid != null" >
        commentId = #{record.commentid,jdbcType=INTEGER},
      </if>
      <if test="record.receiverid != null" >
        receiverId = #{record.receiverid,jdbcType=INTEGER},
      </if>
      <if test="record.senderid != null" >
        senderId = #{record.senderid,jdbcType=INTEGER},
      </if>
      <if test="record.commentcontent != null" >
        commentContent = #{record.commentcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reserved != null" >
        reserved = #{record.reserved,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tn_blogusercomment
    set id = #{record.id,jdbcType=INTEGER},
      blogId = #{record.blogid,jdbcType=INTEGER},
      commentId = #{record.commentid,jdbcType=INTEGER},
      receiverId = #{record.receiverid,jdbcType=INTEGER},
      senderId = #{record.senderid,jdbcType=INTEGER},
      commentContent = #{record.commentcontent,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      reserved = #{record.reserved,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongnian.tnh.pojo.BlogUserComment" >
    update tn_blogusercomment
    <set >
      <if test="blogid != null" >
        blogId = #{blogid,jdbcType=INTEGER},
      </if>
      <if test="commentid != null" >
        commentId = #{commentid,jdbcType=INTEGER},
      </if>
      <if test="receiverid != null" >
        receiverId = #{receiverid,jdbcType=INTEGER},
      </if>
      <if test="senderid != null" >
        senderId = #{senderid,jdbcType=INTEGER},
      </if>
      <if test="commentcontent != null" >
        commentContent = #{commentcontent,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserved != null" >
        reserved = #{reserved,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongnian.tnh.pojo.BlogUserComment" >
    update tn_blogusercomment
    set blogId = #{blogid,jdbcType=INTEGER},
      commentId = #{commentid,jdbcType=INTEGER},
      receiverId = #{receiverid,jdbcType=INTEGER},
      senderId = #{senderid,jdbcType=INTEGER},
      commentContent = #{commentcontent,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      reserved = #{reserved,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>