<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongnian.tnh.dao.ClassRelationMapper" >
  <resultMap id="BaseResultMap" type="com.tongnian.tnh.pojo.ClassRelation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="classId" property="classid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="remarkName" property="remarkname" jdbcType="VARCHAR" />
    <result column="relation" property="relation" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createUserId" property="createuserid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, classId, userId, remarkName, relation, createTime, createUserId, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongnian.tnh.pojo.ClassRelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tn_classrelation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tn_classrelation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tn_classrelation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongnian.tnh.pojo.ClassRelationExample" >
    delete from tn_classrelation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongnian.tnh.pojo.ClassRelation" >
    insert into tn_classrelation (id, classId, userId, 
      remarkName, relation, createTime, 
      createUserId, status)
    values (#{id,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{remarkname,jdbcType=VARCHAR}, #{relation,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createuserid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tongnian.tnh.pojo.ClassRelation" >
    insert into tn_classrelation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="classid != null" >
        classId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="remarkname != null" >
        remarkName,
      </if>
      <if test="relation != null" >
        relation,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="createuserid != null" >
        createUserId,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="remarkname != null" >
        #{remarkname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongnian.tnh.pojo.ClassRelationExample" resultType="java.lang.Integer" >
    select count(*) from tn_classrelation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tn_classrelation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.classid != null" >
        classId = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.remarkname != null" >
        remarkName = #{record.remarkname,jdbcType=VARCHAR},
      </if>
      <if test="record.relation != null" >
        relation = #{record.relation,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuserid != null" >
        createUserId = #{record.createuserid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tn_classrelation
    set id = #{record.id,jdbcType=INTEGER},
      classId = #{record.classid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      remarkName = #{record.remarkname,jdbcType=VARCHAR},
      relation = #{record.relation,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      createUserId = #{record.createuserid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongnian.tnh.pojo.ClassRelation" >
    update tn_classrelation
    <set >
      <if test="classid != null" >
        classId = #{classid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="remarkname != null" >
        remarkName = #{remarkname,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        relation = #{relation,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null" >
        createUserId = #{createuserid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongnian.tnh.pojo.ClassRelation" >
    update tn_classrelation
    set classId = #{classid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      remarkName = #{remarkname,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createUserId = #{createuserid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>