<div class="container-box tnbox fn-clear">
	<div class="box-title">
		<h2>童年之星</h2>
	</div>
	<div class="box-content-fluid">
		
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12">
		<div class="container-box sliderbox fn-clear" style="padding:0;">
			
		</div>
		<div class="container-box fn-clear">
			<div class="box-content-fluid">
				<div class="row">
				<div class="col-xs-7">
					<div class="row">
						<div class="col-xs-4"></div>
						<div class="col-xs-4"></div>
						<div class="col-xs-4"></div>
					</div>
				</div>
				<div class="col-xs-5 hotblog-title"></div>
			</div>
			</div>
			
		</div>
	</div>
	<div class="col-lg-6 col-md-12">
		<div class="container-box myconcern fn-clear">
			
		</div>
	</div>
</div>