<div class="row">
	<div class="col-xs-2">
		<div class="usrpic-xs fn-left"><img src="<%= photo %>" alt="nickName"></div>
		<ul class="fn-left">
			<li class="main-usrname"><%= nickname %></li>
			<li class="main-tnnum">童年号：<span><%= tnno %></span></li>
		</ul>
	</div>
	<div class="col-xs-2">
		<div class="main-level user-level-<%= level %>"></div>
	</div>
	<div class="col-xs-2">
		<div class="abstract todayvisit"><i class="iconfont">&#xe61a;</i><%= todayVisit %></div>
	</div>
	<div class="col-xs-2">
		<div class="abstract visitcount"><i class="iconfont">&#xe61c;</i><%= visitCount %></div>
	</div>
	<div class="col-xs-2">
		<div class="abstract blogcount"><i class="iconfont">&#xe611;</i><%= blogCount %></div>
	</div>
	<div class="col-xs-2">
		<div class="abstract friendcount"><i class="iconfont">&#xe619;</i><%= friendCount %></div>
	</div>
</div>