<!-- 朋友圈 -->
<div class="container-box friendmgbox fn-clear">
	<div class="box-content">
		<div class="blog-post fn-clear">
			<h3>我要吐槽爆料</h3>
			<div contenteditable="true" spellcheck="false" id="msgsend" class="blog-say"></div>
			<a href="javascript:void(0)" class="write-blog"><i class="iconfont">&#xe646;</i>写博客</a>
			<div class="blog-chatbox fn-left">
				<div class="chat-opreation">
					<ul class="fn-clear">
						<li>
							<a href="javascript:void(0)" class="btn-exp"><i class="iconfont">&#xe646;</i></a>
							<span id="expmark"></span>
						</li>
						<li class="picupload">
							<input type="file" id="uploadpic" name="uploadpic" accept="image/gif, image/jpeg, image/png">
							<label for="uploadpic"><i class="iconfont">&#xe62f;</i></label>
						</li>
					</ul>
				</div> 

			</div>
				<a href="javascript:void(0)" class="fn-right btn btn-r-r-md msgsendbtn">发表</a>
				<!--下拉框120px-->
				<div class="friendremark friendremark-power">
					<div class="selecter">
						<div class="selecter-container">
							<div class="selecter-trigger" style="background:none;border:none;">
							<input type="text" data-id="2" value="仅朋友圈" disabled="true ">
							<i class="iconfont inconfont1">&#xe61f;</i>
							</div>
							<ul class="selecter-options">
								<li><a href="javascript:void(0)" value="1">公开发表</a></li>
								<li><a href="javascript:void(0)" value="2">仅朋友圈</a></li>
								<li><a href="javascript:void(0)" value="3">仅自己可见</a></li>
							</ul>
						</div>
					</div>
				</div>


		</div>
	</div>
</div>