<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>童年号</title>
		<link rel="stylesheet" href="http://localhost:8080/Curry/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://localhost:8080/Curry/dist/css/docs.min.css">
		<link rel="stylesheet" href="http://localhost:8080/Curry/dist/css/proto.css">
		<link rel="stylesheet" href="http://localhost:8080/Curry/css/basenew.css">
		<style>
		.classify-img {
			float: left;
		}
		</style>
		
	</head>
	<body>
		<div class="menu-main">
			<div class="logo"></div>
			<ul>
				<li class="selected"><i class="iconfont">&#xe601;</i><span>童年号</span></li>
				<li><i class="iconfont">&#xe602;</i><span>班级</span></li>
				<li><i class="iconfont">&#xe603;</i><span>联系人</span></li>
				<li><i class="iconfont">&#xe605;</i><span>朋友圈</span></li>
				<li><i class="iconfont">&#xe604;</i><span>公共</span></li>
				<li><i class="iconfont">&#xe606;</i><span>设置</span></li>
			</ul>
		</div>
		<!-- 右侧内容 -->
		<div class="main-container">
			<div class="usrabstract"><div class="infopanel container-fluid fn-clear">
				
			</div></div>
			<div class="contactlist-container">
				
				<div class="searchpanel"><input type="text" placeholder="搜索：童年号、用户名、群、公众号"><a class="iconfont" href="javascript:void(0)">&#xe607;</a></div>
				<div class="list-container">
					
				</div>
			</div>
			<div class="content-container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6 col-sm-12 col-xs-12">
							<div class="row contacts1">

								<!-- <div class="col-lg-4 col-md-4 col-sm-4">
									<section >
										<div class="classify">
											<div class="classify-left fn-clear">
												<div class="classify-img"><img class="radius4" src="http://localhost:8080/Curry/images/userp-mid.jpg" alt="">
											</div>
											<ul>
												<li class="classify-text14">高新蕊</li>
												<li class="classify-text12 ellipsis" title="华师一附中">华师一附中</li>
												<li class="classify-text-back">+好友</li>
											</ul>
										</div>
									</section>
								</div> -->

							</div>
						</div>
					</div>
					<!-- 童年之星 end  -->
				</div>
			</div>
		</div>
		<!-- 名片模板 -->
		<div class="usrcard fn-clear">
			
		</div>
		<!-- 好友推荐模板 -->
		<script id="interestTemplate" type="text/template">

		</script>
		<!-- 童年之星模板 -->
		<script id="tnstarTemplate" type="text/template">
			<div class="border-container rank<%= rank %>">
				<div class="profpic">
					<img src="<%= mPhoto %>" alt="<%= nickName %>">
				</div>
			</div>
			<div class="profname">
				<ul>
					<li><%= nickName %></li>
					<li><%= schoolName %></li>
				</ul>
			</div>
		</script>
		<!-- 联系列表模板 -->
		<script id="contactitemTemplate" type="text/template">
<div class="usrpic-ms">
	<img src="<%= sPhoto %>" alt="<%= nickName %>">
	<i class="talknum"></i>
</div>
<ul>
	<li class="item-usrname"><%= remark %></li>
	<li class="item-text">美媒:中国或首次拥有可靠</li>
</ul>
<span class="talktime">19:00</span>
		</script>
		
		<!-- 用户名片模板 -->
		<script id="usrcardTemplate" type="text/template">
<div class="usercardContainer">
	<div class="card-top" style="background: #fff url(<%= spaceBg %>) no-repeat 0 0">
		<div class="usrpic-md"><img src="<%= sPhoto %>" alt="<%= nickName %>"></div>
		<ul>
			<li class="usrcard-usrname"><%= nickName %>（<%= remark %>）</li>
			<li class="usrcard-interests">兴趣：<%= interest %></li>
		</ul>
	</div>
	<div class="card-bottom">
		<ul class="fn-clear">
			<li>空间访问<span><%= visitCount %></span></li>
			<li>博客<span><%= blogCount %></span></li>
			<li>好友<span><%= friendCount %></span></li>
		</ul>
		<div class="location"><span><%= city %></span>就读于<span><%= schoolName %></span></div>
		<div class="card-btn">
			<a href="javascript:void(0)" class="btn btn-card">加为好友</a>
			<a href="javascript:void(0)" class="btn btn-card">访问空间</a>
		</div>
	</div>
			</script>
			<script id="usrInfopanel" type="text/template">
<div class="row">
	<div class="col-lg-2 col-md-2">
		<div class="usrpic-xs fn-left"><img src="<%= mPhoto %>" alt="nickName"></div>
		<ul class="fn-left">
			<li class="main-usrname"><%= nickName %></li>
			<li class="main-tnnum">童年号：<span><%= tnNo %></span></li>
		</ul>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="main-level user-level-<%= level %>"></div>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="abstract todayvisit"><i class="iconfont">&#xe61a;</i><%= todayVisit %></div>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="abstract visitcount"><i class="iconfont">&#xe61c;</i><%= visitCount %></div>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="abstract blogcount"><i class="iconfont">&#xe611;</i><%= blogCount %></div>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="abstract friendcount"><i class="iconfont">&#xe619;</i><%= friendCount %></div>
	</div>
</div>
			</script>
			
			<script id="template1" type="text/template">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<section >
						<div class="classify">
							<div class="classify-left fn-clear">
								<div class="classify-img"><img class="radius4" src="<%= photo %>" alt="">
							</div>
							<ul>
								<li class="classify-text14"><%= nickName%></li>
								<li class="classify-text12 ellipsis" title="华师一附中"><%= city%></li>
								<li class="classify-text-back">+好友</li>
							</ul>
						</div>
					</section>
				</div>
			</script>

			<script type="text/javascript" src="http://localhost:8080/Curry/js/require.js" data-main="http://localhost:8080/Curry/main/main"></script>

			</script>
		</body>
	</html>