@charset "utf-8";
@import url(../font/iconfont.css);
html {
	color: #666;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {
	height: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
}
body {
	/* overflow: hidden;
	*/
	position: relative;
	/*min-height: 500px;*/
	/*min-width: 1000px;*/
	padding: 0;
	margin: 0;
	background: #f4f4f4;
	font-size: 12px;
	color: #666;
	overflow: hidden;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
	/* font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", \5b8b\4f53;
	*/
	font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1;
}
input, select, textarea {
	font-size: 100%;
}

/* 选中颜色 */
::selection {
	background: #4fe240;
	color: #fff
}
::-moz-selection {
	background: #4fe240;
	color: #fff
}
input::-moz-placeholder, ::-webkit-input-placeholder, ::-ms-input-placeholder {
	color: #999
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* IE bug fixed:th 不继承 text-align */
th {
	text-align: inherit;
}

/* 去除默认边框 */
fieldset, img {
	border: 0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
	display: block;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
	border: 0;
	font-variant: normal;
}

/* 一致的 del 样式 */
del {
	text-decoration: line-through;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: 500;
}

/* 去掉列表前的标识, li 会继承 */
ol, ul {
	list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
	text-align: left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500;
}
q:before, q:after {
	content: '';
}

/* 统一上标和下标 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/* 正常链接 未访问 */
a:link, a:visited {
	color: #6abce6;
	text-decoration: none;
}

/* 鼠标悬停 */
a:hover {
	color: #2ca9e0;
	text-decoration: none;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
	text-decoration: none;
}

/* 代码字体 */
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}
img {
	display: block;
}

/* 清理浮动 */
.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fn-clear {
	zoom: 1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display: none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left, .fn-right {
	display: inline;
}
.fn-left {
	float: left;
}
.fn-right {
	float: right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 简单的渐变 */
.fn-linear {
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
	background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
	background: -o-linear-gradient(top, #fcfcfc, #f1f1f1);
	background: -ms-linear-gradient(top, #fcfcfc, #f1f1f1);
	background: linear-gradient(to bottom, #fcfcfc, #f1f1f1);
}

/* 浅色的渐变 */
.fn-linear-light {
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
	background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
	background: -o-linear-gradient(top, #fcfcfc, #f9f9f9);
	background: -ms-linear-gradient(top, #fcfcfc, #f9f9f9);
	background: linear-gradient(to bottom, #fcfcfc, #f9f9f9);
}

/* 人民币符号 */
.fn-rmb {
	font-family: Verdana;
	font-style: normal;
	padding-right: 4px;
	font-weight: bold;
}

/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
	-webkit-text-size-adjust: none;
}

/* 不允许选中 */
.fn-btn {
	-moz-user-select: none; /* 火狐 */
	-webkit-user-select: none; /* webkit浏览器 */
	-ms-user-select: none; /* IE10 */
	-khtml-user-select: none; /* 早期浏览器 */
	user-select: none;
}

/*容器*/


/*等级*/
.main-level {
	width:200px;
	background-image: url('../images/level.png');
	_background-image: url('../images/level.png');
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	background-repeat: no-repeat;
	width:200px;
	height:22px;
}
.user-level-1 {
	background-position: 0 0;	
}
.user-level-2 {
	background-position: 0 -22px;
}
.user-level-3 {
	background-position: 0 -44px;
}
.user-level-4 {
	background-position: 0 -66px;
}
.user-level-5 {
	background-position: 0 -88px;
}
.user-level-6 {
	background-position: 0 -110px;
}
.user-level-7 {
	background-position: 0 -132px;
}
.user-level-8 {
	background-position: 0 -154px;
}
.user-level-9 {
	background-position: 0 -176px;
}
.user-level-10 {
	background-position: 0 -198px;
}
.user-level-11 {
	background-position: 0 -220px;
}
.user-level-12 {
	background-position: 0 -242px;
}
.user-level-13 {
	background-position: 0 -264px;
}
.user-level-14 {
	background-position: 0 -286px;
}
.user-level-15 {
	background-position: 0 -308px;
}
.user-level-16 {
	background-position: 0 -330px;
}
.user-level-17 {
	background-position: 0 -352px;
}
.user-level-18 {
	background-position: 0 -374px;
}
.user-level-19 {
	background-position: 0 -396px;
}
.user-level-20 {
	background-position: 0 -418px;
}
.user-level-21 {
	background-position: 0 -440px;
}
.user-level-22 {
	background-position: 0 -462px;
}
.user-level-23 {
	background-position: 0 -484px;
}
.user-level-24 {
	background-position: 0 -506px;
}
.user-level-25 {
	background-position: 0 -528px;
}
.user-level-26 {
	background-position: 0 -550px;
}
.user-level-27 {
	background-position: 0 -572px;
}
.user-level-28 {
	background-position: 0 -594px;
}
.user-level-29 {
	background-position: 0 -616px;
}
.user-level-30 {
	background-position: 0 -638px;
}
.user-level-31 {
	background-position: 0 -660px;
}
.user-level-32 {
	background-position: 0 -682px;
}
.user-level-33 {
	background-position: 0 -704px;
}
.user-level-34 {
	background-position: 0 -726px;
}
.user-level-35 {
	background-position: 0 -748px;
}
.user-level-36 {
	background-position: 0 -770px;
}
.user-level-37 {
	background-position: 0 -792px;
}
.user-level-38 {
	background-position: 0 -814px;
}
.user-level-39 {
	background-position: 0 -836px;
}
.user-level-40 {
	background-position: 0 -858px;
}
.user-level-41 {
	background-position: 0 -880px;
}
.user-level-42 {
	background-position: 0 -902px;
}
.user-level-43 {
	background-position: 0 -924px;
}
.user-level-44 {
	background-position: 0 -946px;
}
.user-level-45 {
	background-position: 0 -968px;
}
.user-level-46 {
	background-position: 0 -990px;
}
.user-level-47 {
	background-position: 0 -1012px;
}
.user-level-48 {
	background-position: 0 -1034px;
}
.user-level-49 {
	background-position: 0 -1056px;
}
.user-level-50 {
	background-position: 0 -1078px;
}
.user-level-51 {
	background-position: 0 -1100px;
}
.user-level-52 {
	background-position: 0 -1122px;
}
.user-level-53 {
	background-position: 0 -1144px;
}
.user-level-54 {
	background-position: 0 -1166px;
}
.user-level-55 {
	background-position: 0 -1188px;
}
.user-level-56 {
	background-position: 0 -1210px;
}
.user-level-57 {
	background-position: 0 -1232px;
}
.user-level-58 {
	background-position: 0 -1254px;
}
.user-level-59 {
	background-position: 0 -1276px;
}
.user-level-60 {
	background-position: 0 -1298px;
}
.user-level-61 {
	background-position: 0 -1320px;
}
.user-level-62 {
	background-position: 0 -1342px;
}
.user-level-63 {
	background-position: 0 -1364px;
}
/*.user-level-64 {
	background-position: 0 -1386px;
}
.user-level-65 {
	background-position: 0 -1408px;
}*/
/* 滚动条 */

/* 头像 */
.usrpic-main img {
	width: 80px;
	height: 80px;
}
.usrpic-mid img {
	width: 50px;
	height: 50px;
}

/* 样式 */
.menu-container {
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.content-container {
	margin-left: 400px;
	height: 100%;
	padding: 0 20px;
	min-width: 600px;
	background: #f9f9f9;
	z-index: 2;
	position: relative;
	overflow: hidden;
}

/* 主菜单 */
.menu-main {
	width: 55px;
	height: 100%;
	background: #e7e7e7;
	overflow: hidden;
}
.menu-main ul {
	position: absolute;
	top: 50%;
	margin-top: -230px;
}
.menu-main ul li{
	margin: 18px 0;
	cursor: pointer;
}
.menu-main ul li i {
	font-size: 28px;
	padding: 5px 15px;
	text-align: center;
	display: block;
	line-height: 1em;
}
.menu-main ul li span{
	text-align: center;
	display: block;
}
.menu-main ul li.selected{
	color: green;
}
.menu-main .setting{
	position: absolute;
	bottom: 30px;
	padding: 14px;
}
.menu-main .setting i,
.menu-main .setting span{
	display: block;
	text-align: center;
}
.menu-main .setting i{
	font-size: 28px;
}
/* 二级菜单 */
.contactlist-container {
	width: 345px;
	height: 100%;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.list-container{
	/*height: 1000px;*/
}
.info-container {
	/*height: 170px;*/
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
}
.radius4 {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.usrpic-main {
	padding: 5px;
	background: #fff;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.infopanel ul {
	display: block;
	margin-top: 20px;
	margin-left: 10px;
}
.infopanel ul li.main-tnnum{
	margin: 5px 0 7px 0;
}
.infopanel .main-usrname {
	font-size: 24px;
	line-height: 34px;
}
.searchpanel {
	position: relative;
	padding: 15px 20px 15px 20px;
}
.searchpanel input {
	width: 305px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border: 1px solid #ccc;
	outline: none;
	padding: 2px 40px 2px 20px;
}
.searchpanel a, .searchpanel a:hover {
	font-size: 18px;
	position: absolute;
	top: 15px;
	right: 35px;
	color: #666;
}

/* 用户会话列表 */
.list-item {
	position: relative;
	zoom:1;
}
.list-item:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.list-item > .usrpic-mid {
	position: absolute;
	top: 10px;
	left: 20px;
	cursor: pointer;
}
.list-item > .usrpic-mid img {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.list-item > ul {
	border-bottom: 1px solid #e7e7e7;
	padding: 7px 0;
	margin-left: 80px;
}
.list-item > ul li {
	padding: 2px 0;
}
.list-item > ul .item-usrname {
	font-size: 18px;
}
.list-item > ul .item-text {
	font-size: 12px;
}
.list-item .talktime {
	position: absolute;
	top: 12px;
	right: 20px;
	color: #999;
	font-size: 12px;
}
.list-item .talknum {
	display: block;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	padding: 1px 4px;
	background: #f22c12;
	line-height: 13px;
	font-size: 12px;
	color: #fff;
	min-width: 15px;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: 5px;
	right: 20px;
}

/* 名片 */
.usrcard {
	width: 378px;
	height: 240px;
	position: absolute;
	top: 190px;
	left: 410px;
	background: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #e7e7e7;
	background: #fff;
	box-shadow: 10px 10px 20px #e7e7e7;
	-webkit-box-shadow: 10px 10px 20px #e7e7e7;
	-moz-box-shadow: 10px 10px 20px #e7e7e7;
	-ms-box-shadow: 10px 10px 20px #e7e7e7;
	-o-box-shadow: 10px 10px 20px #e7e7e7;
	display: none;
}
.usrcard .card-top {
	padding-top: 15px;
	width: 376px;
	height: 123px;
	color: #fff;
	background: #fff;
	background-position: 0 0;
	background-repeat: no-repeat;
	border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-ms-border-top-left-radius: 3px;
	-o-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-ms-border-top-right-radius: 3px;
	-o-border-top-right-radius: 3px;
}
.usrcard .usrcard-usrname {
	font-size: 14px;
	line-height: 2em;
}
.usrcard .card-bottom {
	height: 45%;
}
.usrcard .usrpic-mid {
	width: 58px;
	height: 58px;
	overflow: hidden;
	background: rgba(255, 255, 255, .3);
	margin: 0 auto;
	padding: 4px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.usrcard .usrpic-mid img {
	/* margin: 15px auto 0 auto;
	*/
}
.usrcard ul li {
	text-align: center;
}
.usrcard .card-bottom ul {
	text-align: center;
	padding: 10px 0;
}
.usrcard .card-bottom ul li {
	display: inline;
	line-height: 1em;
	font-weight: bold;
	padding: 0px 10px;
	border-left: 1px solid #ccc;
	color: #333;
}
.usrcard .card-bottom ul li span {
	margin-left: 5px;
}
.usrcard .card-bottom ul li:first-child {
	border-left: none;
}
.usrcard .card-bottom .location {
	line-height: 1em;
	text-align: center;
	color: #999;
}
.usrcard .card-bottom .location span {
	padding: 0 10px;
	color: #333;
}

/* 三角 */
.triangle-left {
	position: absolute;
	left: -9px;
	top: 45px;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-right: 9px solid #999;
	border-bottom: 9px solid transparent;
}
.triangle-left i {
	position: absolute;
	left: 1px;
	top: -8px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 8px solid #fff;
	border-bottom: 8px solid transparent;
}

/* 按钮 */
.usrcard .card-btn {
	text-align: center;
	padding: 15px 0;
}
.card-btn .btn {
	padding: 5px 15px;
	margin: 0 3px;
	border: 1px solid #e7e7e7;
	background: #fff;
	box-shadow: 1px 1px 0px #f1f1f1;
	-webkit-box-shadow: 1px 1px 0px #f1f1f1;
	-moz-box-shadow: 1px 1px 0px #f1f1f1;
	-ms-box-shadow: 1px 1px 0px #f1f1f1;
	-o-box-shadow: 1px 1px 0px #f1f1f1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.mainbg{
	position: absolute;
	z-index: 0;
}
.mainbg img{
	width: 100%;
}

.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
